@model PagedList.IPagedList<Tuple<ImageHoster.CQRS.ReadModel.Dto.GroupDto, string>>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Browse Random Groups";
}

<h2>Browse Random Groups</h2>

<p>
<button onclick="window.location.href = '@Url.Action("Random", "Group")'"><i class="icon-cycle on-left"></i>Refresh groups</button>
</p>

<div class="grid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="tile double" onclick="window.location.href = '@Url.Action("Index", "Group", new { id = item.Item1.Id })'">
                <div class="tile-content">
                    <img src="@Url.Action("GetThumbnail", "Photo", new { filename = item.Item2 })"
                </div>
                <div class="brand bg-black">
                    <span class="label fg-white">@item.Item1.Name</span>
                </div>
            </div>
        }

    </div>
</div>
